table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;

}

.search-box {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
}

.searchTerm {
  margin-left: 20px;
  margin-right: 20px;
}

app-my-button {
  display: inline-block;
  margin: 2px 2px;
  padding: 2px;

}

tr {
  border: 2px solid black;
}
