<router-outlet></router-outlet>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Yes!</strong> Booking submitted for approval.
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form class="bookingform" [formGroup]="bookingform" (ngSubmit)="getAvailableCars()">
  <h3> Make a reservation! </h3>
  <div class="input">
    <label for="startDate"> Start Date:
      <input type="date" id="startDate" name="startDate" class="input" formControlName="startDate"/>
    </label>
    <br>
    <label for="endDate"> End date:
      <input type="date" id="endDate" name="endDate" class="input" formControlName="endDate"/>
    </label>
    <br>
    <small *ngIf="bookingform.hasError('notValid')">Not valid</small>
    <input type="submit" [disabled]="!bookingform.valid" class="submit" value="Get available cars">
  </div>
</form>
<ng-container *ngIf="!alert">
  <ng-container *ngIf="cars.length > 0">
    <app-my-table [tableConfig]="tableConfig" [data]="cars" (inputActionToPerform)="saveBooking($event)"></app-my-table>
  </ng-container>
</ng-container>
