<div>
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Yes!</strong> {{message}}
    <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <ng-container *ngIf="!isEditMode; else registerTemplate">
    <app-my-dynamic-form *ngIf="questions.length > 0 && !userSaved" [questions]="questions"
                         (onSubmit)="registerUser($event)"></app-my-dynamic-form>
  </ng-container>
  <ng-template #registerTemplate>
    <app-my-dynamic-form *ngIf="questions.length > 0 && !userSaved" [questions]="questions"
                         (onSubmit)="editUser($event)"></app-my-dynamic-form>
  </ng-template>
</div>

