<div class="auth-wrapper">
  <ng-container *ngIf="registrationSuccess"> <h5 class="h5 mb-5 font-weight-normal text-center">Registration completed! Now login with your new credentials. </h5></ng-container>
  <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
    <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Enter username"
        required
      />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
  </form>
<div class="sign-up">
  <h3 class="h3 mb-3 font-weight-normal text-center">... or sign up if you are new</h3>
  <button type="submit" class="btn btn-block btn-primary" (click)="signUp()">Sign up</button>
</div>
</div>
